[Unit]
Description=A script to start netvirt
After=network.target

[Service]
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment HOME=/home/jordy"
ExecStart=/usr/local/bin/netvirt-agent
Type=simple

[Install]
WantedBy=default.target
